
.DS_Store

options.cgo2.o

_obj/

example/.DS_Store

main.cgo2.o

example/gotidy

example/_go_.6

_obj/tidy.a

_obj/main.cgo2.c

_obj/main.cgo1.go

_obj/_cgo_run

_obj/_cgo_main.c

_obj/_cgo_import.c

_obj/_cgo_gotypes.go

_obj/_cgo_flags

_obj/_cgo_export.c

_obj/_cgo_defun.c

_obj/_cgo_.o

_go_.6

_cgo_main.o

_cgo_import.6

_cgo_export.o

_cgo_export.h

_cgo_defun.6

_cgo1_.o

6.out

_gotest_.6

_test/tidy.a

_testmain.6

_testmain.go

options.cgo2.o

options.cgo2.o

gotidy.sublime-workspace

_obj/options.cgo2.c

_obj/options.cgo1.go

_obj/options.cgo2.c

_obj/options.cgo1.go

gotidy.sublime-project
